<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoutout Machine</title>

</head>
<body class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header container-fluid">
            <h1>Shout Out Machine</h1>
        </div>
    </nav>


    <h1 class="btn btn-success btn-lg btn-block" id="start">Start!</h1>

    <div class="well col-md-8" id="quote1">
        Programming today is a race between software engineers striving to build bigger and better idiot-proof programs, and the Universe trying to produce bigger and better idiots
    </div>
    <div class="well col-md-6" id="quote2">
        So far, the Universe is winning.
    </div>


    <div id="content"></div>


    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/app.js"></script>

    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>